button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #6b6b6b;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* 위치 고정 */
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 1000; /* 다른 요소 위에 보이게 하려면 */
}

button img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
